*{
    box-sizing: border-box;
}
#body{
    margin: 0;
}

.navbar{
    width: 100%;
    height: 11vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.links{
    display: flex;
    position: relative;
    gap: 1.5vw;
    
}

.links a{
    text-decoration: none;
    color: black;

}
.icon{
    margin-right: 2vw;
    font-size: 2.5vh;
}

.icon a{
    text-decoration: none;
}

.logo img{
    margin-left: 1vw;
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}