*{
    box-sizing: border-box;
    margin: 0;
  }
  
  .testimonial-wraper{
    margin: auto;
    position: relative;
    width: 80%;
    height: 50vh;
    margin-top: 3vh;
    margin-bottom: 10vh;
  
  }
  .testimonial-wraper h2{
    font-size: clamp(23px, 8vw, 44px);
    margin-left: 3vw;
    font-weight: 500;
  }